body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f6f2;
}
.header {
    background-color: #6f4e37;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.crown {
    font-size: 2rem;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}
.add_donut {
    background-color: #a97458;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}