body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f6f2;
}
.header {
    background-color: #6f4e37;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.crown {
    font-size: 2rem;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}
.add_donut {
    background-color: #a97458;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.add_donut:hover {
    background-color: #c18f7a;
}
.container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}
.feature_panel {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.feature_content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.donut {
    width: 200px;
    height: 200px;
    background-color: #d2b48c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    border-radius: 10%;
    color: white;
    flex-shrink: 0;
}
.feature_text {
    font-size: 1.2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}